asgiref==3.11.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.4
cryptography==46.0.3
cssselect2==0.8.0
dj-database-url==3.0.1
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
ecdsa==0.19.1
fonttools==4.61.1
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==12.1.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
python-decouple==3.8
python-jose==3.5.0
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202601
urllib3==2.6.2
weasyprint==68.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
